
// _variables.scss

$primary-color: #fff;       // Cor do texto e dos cards
$background-color: #000;    // Cor de fundo da página
$card-background: #fff;     // Cor de fundo dos cards
$card-border: #ccc;         // Cor da borda dos cards
$font-color: #333;          // Cor do texto dos cards
